<div class="review">
    <div class="review-header">
        <span class="reviewer-name"><%= review.author %></span>
        <span class="review-date"><%= review.date %></span>
    </div>
    <div class="review-body">
        <p class="review-dest"><%= review.destination %></p>
        <p class="review-rank"><%= review.rank %></p>
        <p class="review-content"><i class="far fa-smile"></i> <%= review.happyContent %></p>
        <p class="review-content"><i class="far fa-frown"></i> <%= review.badContent %></p>
    </div>
</div>

