<div id="sales-container">
  <div id="salehead">
    <span class="animated-text">Sales !!!</span>
  </div>
  <div id="sales" class="row">
    <% sales.data.forEach((sale, index) => { %>
      <div class="sale-item to-flights<% if (index >= 5) { %> hidden-deal <% } %>">
        <div class="sale-destination">
          <h4><%= sale.name %></h4>
        </div>
        <img src="<%= sale.picture %>" class="sale-img">
        <div class="sale-content">
          <p>Dates: <%= sale.departure_date %> - <%= sale.return %></p>
          <p>Starting Price: <%= sale.min_price %>$</p>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="text-center"> <!-- Add a container with text-center class -->
    <button id="show-more-btn" onclick="toggleSales()">Show More</button>
  </div>
</div>
