<div id="sales-container">
  <div id="salehead">
    <span class="animated-text">Sales !!!</span>
  </div>
  <div id="sales" class="row">
    <% sales.data.forEach((sale, index) => { %>
      <div class="sale-item to-flights<% if (index >= 5) { %> hidden-deal <% } %>">
        <div class="sale-destination">
          <h4><%= sale.destination %></h4>
        </div>
        <img src="<%= sale.img %>" class="sale-img">
        <div class="sale-content">
          <p>Dates: <%= sale.departureDate %> - <%= sale.returnDate %></p>
          <p>Starting Price: <%= sale.minPrice %>$</p>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="text-center">
    <button id="show-more-btn" class="toggle-btn" onclick="toggleSales('more')">Show More</button>
    <button id="show-less-btn" class="toggle-btn" onclick="toggleSales('less')" style="display: none;">Show Less</button>
  </div>
  
</div>