<div id="sales-container">
  <div class="text-center">
    <h3 id="sale-head">Sales</h3>
    <p id="sale-head-desc">Take Off with Savings: Explore LastCall Exclusive Flight Deals!</p>
  </div>
  <div id="sales" class="row">
    <% sales.data.forEach((sale, index)=> { %>
      <div class="sale-item to-flights<% if (index >= 5) { %> hidden-deal <% } %>"
        data-toFlight="<%= JSON.stringify(sale) %>">
        <div class="sale-destination">
          <h4>
            <%= sale.destination %>
          </h4>
        </div>
        <img src="<%= sale.img %>" class="sale-img">
        <div class="sale-content">
          <p>Departure Date: <div class="format-date" data-real-date="<%= sale.departureDate %>"><%= sale.departureDate %></div></p>
          <p>Return Date: <div class="format-date" data-real-date="<%= sale.returnDate %>"><%= sale.returnDate %></div></p>
          <p>Start From: <%= sale.dealPrice %>$</p>
        </div>
      </div>
      <% }); %>
  </div>
  <div class="text-center">
    <button id="show-more-btn" class="toggle-btn" onclick="toggleSales('more')" style="display: none;">Show
      More</button>
    <button id="show-less-btn" class="toggle-btn" onclick="toggleSales('less')" style="display: none;">Show
      Less</button>
  </div>

</div>