<div class="flights-page">
<div id="search-bar">
  <%- include("searchBar", { defaultDep: body.defaultDep }) %>
</div>
<% if (alert.data) { %>
  <%- include(alert.main, { alertData: alert.data, redirectTo: alert.redirectTo }) %>
<% } else { %>
  <div class="flights-container">
<% body.flights.forEach((flight) => { %>
  <div class="flights-combination">
    <div class="bordered-flight-container">
      <div class="flight-section">
        <%- include('flightCard',{ flight: flight.go }) %>
      </div>
      <% if (flight.return) { %>
        <div class="flight-section">
          <%- include('flightCard',{ flight: flight.return }) %>
        </div>
      <% } else { %>
        <div class="no-return-flight-container">
          <p>No Return Flight</p>
        </div>
      <% } %>
      <div class="total-container">
        <p class="total-label">Total:</p>
        <p class="total-price-per-person"><%= (flight.go.price + (flight.return ? flight.return.price : 0)).toFixed(2) %>$</p> <!-- Total price -->
      </div>
      <div class="choose-btn-container">
        <button class="choose-btn" onclick="ChooseFlight('<%=JSON.stringify(flight) %>');">Choose</button>
      </div>
    </div>
  </div>
  </div>
<% })} %>
<%- include('flightRightSideBar.ejs') %>
</div>
</div>

<%- include(sales.main) %>


