<div class="flights-page">

<div id="search-bar">
  <%- include("../searchBar") %>
</div>
<button class="generate-btn" onclick="generateNewFlights()">Generate New Flights</button>
<div class="sidebar">
  <h3>Flight Filters</h3>
  <h5>Stops</h5>
  <label><input type="checkbox" name="stops" value="direct" checked> Direct Flight</label>
  <label><input type="checkbox" name="stops" value="1stop" checked> 1 Stop</label>
  <label><input type="checkbox" name="stops" value="2stops" checked> More than 2 Stops</label>
  <h5>Price Range</h5>
  <label>Price: <input type="range" min="100" max="5000" step="10" id="price-range" value="5000"></label>
  <span id="price-range-display">$100 - $5000</span>
  <h5>Departure Times</h5>
  <label>Outbound Flight: <input type="range" min="0" max="23" step="1" id="outbound-time" value="23"></label>
  <span id="outbound-time-display">0:00 - 23:59</span>
  <label>Return: <input type="range" min="0" max="23" step="1" id="return-time" value="23"></label>
  <span id="return-time-display">0:00 - 23:59</span>
</div>
<div class="flights-container">
<% body.flights.forEach((flight) => { %>
  <div class="flights-combination">
    <div class="bordered-flight-container">
      <div class="flight-section">
        <%- include('./flight',{ flight: flight.go }) %>
      </div>
      <% if (flight.return) { %>
        <div class="flight-section">
          <%- include('./flight',{ flight: flight.return }) %>
        </div>
      <% } else { %>
        <div class="no-return-flight-container">
          <p>No Return Flight</p>
        </div>
      <% } %>
      <div class="total-container">
        <p class="total-label">Total:</p>
        <p class="total-price"><%= (flight.go.price + (flight.return ? flight.return.price : 0)).toFixed(2) %>$</p> <!-- Total price -->
      </div>
      <div class="choose-btn-container">
        <button class="choose-btn" onclick="ChooseFlight('<%=JSON.stringify(flight) %>');">Choose</button>
      </div>
    </div>
  </div>
  </div>
<% }) %>
<%- include('flightRightSideBar.ejs') %>
</div>

<div id="sales-containers">
  <%- include(sales.main) %>
</div>

</div>



